WicketGradle/
WicketProject/
mywicketproject/
/**/.idea/workspace.xml
/**/.idea/tasks.xml
**/*workspace.xml
TeamTreehouse/html/.idea/workspace.xml
TeamTreehouse/html/**/workspace.xml
TeamTreehouse/CSS-Selectors/.idea/modules.xml
newweb/
/**/node_modules/
.metadata/
RemoteSystemsTempFiles/
.recommenders/
