/* Type Selectors ------------------ */

body {
  color: #878787;
  margin: 0;
  font-size: 1em;  /* equivalent to default value of 16px */
  /*  EM vs PT vs % vs PX - http://kyleschaeffer.com/development/css-font-size-em-vs-px-vs-pt-vs/ */
}

h1 {  
  font-size: 5.625em;  /*  90/16 = 5.625em  */
  color: white;
}

h2 {
  font-size: 53px;
}

h3 {
  font-size: 20px;
  color: #48525c;
}

/* Pseudo-classes ------------------ */

a:link {
  color: orange;
}

a:visited {
  color: lightblue;
}

a:hover {
  color: forestgreen;
}

a:active {
  color: lightcoral;
}

/* ID Selectors -------------------- */

#main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: solid 10px orange;
}

/* Class Selectors ----------------- */

.main-header {
  background-color: orange;
}

/*  this actually takes it font-size as a RELATIVE size of the body (from where it inherits).  So 3em would be 3 times whatever the body is */
.title {
  color: white;
  font-size: 1.625em;  /* 26 px (26/16px)  */
}

.primary-content, 
.secondary-content {
  width: 60%;
}

.primary-content {
  text-align: center;
}

.t-border {
  border-top: 2px solid lightgrey; /* Top border styles */
}















