/* UI element states pseudo-classes ------------ */
input:focus,
textarea:focus {
    border-color: #52bab3;
}

:disabled {
    background: lightgrey;
}

/*  labels ajacent to checked checkboxes */
input[type="checkbox"]:checked + label  {
    font-weight: bold;
}